* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Work Sans;
}

body {
    background: url(./assets/images/background-pattern-desktop.svg) no-repeat;
    background-color: hsl(275, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;

}

.container {
    background: #fff;
    width: 550px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
}

.container .heading {
    display: flex;
    gap: 20px;
    /* text-align: center; */
}

.container .heading .h1 {
    font-weight: 800;
}

.container .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .p {
    color: hsl(292, 42%, 14%);
    font-size: 16px;
    /* letter-spacing: 1px; */
}

.container .question img {
    cursor: pointer;
}

.hidden {
    display: none;

}

.attribution {
    margin-top: 40px;
}

.container hr {
    border: 1px solid #d3d3d3;
}

@media(max-width: 565px) {
    .container {
        width: 400px;
    }
}

@media(max-width: 400px) {
    .container {
        width: 350px;
    }
}
Erica
Erica Medina Ravanera
const plus = document.querySelectorAll(".plus");
const minus = document.querySelectorAll(".minus");
const para = document.querySelectorAll(".para");

for(let i = 0; i < plus.length; i++) {
    plus[i].addEventListener('click', function () {
        plus[i].classList.toggle("hidden");
        minus[i].classList.toggle("hidden");
        para[i].classList.toggle("hidden");

    })
}

for(let i = 0; i < plus.length; i++) {
    minus[i].addEventListener('click', function () {
        plus[i].classList.toggle("hidden");
        minus[i].classList.toggle("hidden");
        para[i].classList.toggle("hidden");

    })
}